body {
    margin: 0;
    padding: 0;
}

.blur {
    filter: blur(5px);
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
}

.add-book-form {
    gap: 30px;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    border: 5px solid black;
    z-index: 9999;
    background-color: red;
    filter: blur(0px);
}

.book-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.book-card {
    background-color: blue;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.book-card-title {
    background-color: red;
    height: 100px;
    width: 100px;
}

.book-card-author {
    background-color: yellow;
    height: 100px;
    width: 100px;
}

.book-card-pages {
    background-color: darkgreen;
    height: 100px;
    width: 100px;
}

.book-card-read {
    background-color: white;
    height: 100px;
    width: 100px;
    cursor: pointer;
}

button {
    cursor: pointer;
}